:root{
    --links: rgba(214, 40, 57, 1);
    --color: rgba(186, 50, 79, 1);
    --label: rgba(23, 86, 118, 1);
    --nodes: rgba(75, 163, 195, 1);
    --fundo: rgba(204, 230, 244, 1);
}


#main {
    font-family: monospace;
}

.app {
    margin: auto;
    float: left;
    border-style: solid;
    border-color: firebrick;
    border-width: 5pt;

}

.appWindow{
    background: var(--fundo);
}

.button{
    background-color: firebrick;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.input_text {
    font-size: 12pt;
    font-style: oblique;
    text-decoration-color: indigo;
    text-rendering: geometricPrecision;
    margin: 10pt;
}

/* lists */ 

.menu {
    display: block;
    margin-left: 5pt;
    margin-top: 10pt;
    margin-bottom: 50pt;
    float: left;
}

.list_span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

.main_menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
}

.graph_list {
    color: var(--links);
}

.types_list { 
    margin-block-start: 20pt;
    margin: 5pt;
    border-radius: 5px;
    font-family: Cambria;
    font-size: 12pt;    
}

#link_type_list {
    margin-block-start: 20pt;
}

#node_type_list {
    margin-block-start: 20pt;
}

#lists {
    max-width: 630px;
}

.types_label{
    font-size: 10pt;
    text-align: left;
    color: teal;
}

.node{
    fill: var(--nodes);
    cursor: pointer;
}

.nodelabel {
    fill: var(--label);
    font-family: monospace;
    text-align: center;
    font-weight: bolder;
    text-anchor: middle;
    font-size: large;
    pointer-events: none;
}

.nodetype {
    fill: var(black);
    font-family: monospace;
    text-align: center;
    font-weight: bolder;
    font-size: 10pt;
    pointer-events: none;
}

.edgepath {
    stroke-width: 2pt;
    stroke-dasharray: 3pt;
    stroke-opacity: 0.6;
    stroke: var(--links);
    fill: none;
}

.edgelabel {
    text-anchor: middle;
}

#arrowhead {
    stroke-width: 2pt;
    stroke-dasharray: 2pt;
    fill: var(--links);
}

/*estilos para elementos textuais da página */

.text_main_menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

